/* General Styles */
body {
	font-family: 'Press Start 2P', sans-serif;
	background-color: #e0e8f0; /* Light Diamond-inspired blue */
	color: #2a2f4f; /* Deep blue for contrast */
}

/* Navbar Styles */
.navbar {
	background-color: #4682b4; /* Diamond blue */
	border-bottom: 4px solid #1e3a5f; /* Darker blue for depth */
	height: 80px;
}

.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
	color: #b8ddfd; /* Light silver */
}

.nav-link {
	color: #0073df;
	font-size: 20px;
}

.nav-link:hover {
	color: #2a72cf; /* Softened blue */
}

/* Pokemon List Styles */
.pokemon-list {
	background-color: #bdeef1;
	border: 2px solid #4682b4;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.list-group-item {
	background-color: #098bd4; /* Soft, cloudy blue */
	color: #015ba7;
	border: none;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;
}

.list-group-item:hover {
	background-color: #1e3a5f; /* Deep blue */
	color: #6f98ac;
}

/* Modal Styles */
.modal-content {
	background-color: #80a0b9;
	border: 4px solid #62bee2;
}

.modal-title {
	color: #f0f8ff;
}

.pokemon-image {
	height: 200px;
	max-width: 200px;
	border: 3px solid #25acce;
	border-radius: 10%;
	background-color: #a2cfc9d2;
	padding: 5px;
}

.pokemon-height,
.pokemon-weight,
.pokemon-types {
	font-size: 1.1rem;
	color: #1e3a5f;
}

/* Bootstrap Primary Button Override */
.btn-primary {
	background-color: #1e3a5f;
	border-color: #4682b4;
	color: #f0f8ff;
	font-size: 1rem;
}

.btn-primary:hover {
	background-color: #4682b4;
	border-color: #1e3a5f;
	color: #f0f8ff;
}

/* Secondary Button Override */
.btn-secondary {
	background-color: #2a2f4f;
	border-color: #2a2f4f;
	color: #b0c4de;
	font-size: 1rem;
}

.btn-secondary:hover {
	background-color: #b0c4de;
	color: #2a2f4f;
	border-color: #b0c4de;
}

.logo {
	height: 120px; /* Set height to fit in the navbar */
	max-height: 100%; /* Prevents it from exceeding navbar height */
	padding: 5px; /* Adds padding around the logo */
	margin-right: 5px; /* Adds space to the right of the logo */
	object-fit: contain; /* Maintains the image aspect ratio */
	vertical-align: middle; /* Centers the logo vertically within its container */
}
